*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}
body {
  background-image: url(./components/bkimg.jpg);

  font-family: "poppins", sans-serif;
  
}


  @media (min-width: 992px){
    .navbar li {
        margin-left : 1em;
        margin-right : 1em;
    }
}
